//Theme1 Colors
$th1-white: #F9F2ED;
$th1-blue: #3AB0FF;
$th1-orange: #FFB562;
$th1-red: #F87474;

//Theme2 Colors
$th2-red: #FF6B6B;
$th2-yellow: #FFD93D;
$th2-green: #6BCB77;
$th2-blue: #4D96FF;


// COLORS
$bg-dark: #151515;
$purp1: #301B3F;
$purp2: #3C415C;
$cream1: #B4A5A5;
$cream2: #ECDBBA;
$primary-color: #272727;
$secondary-color: #ff652f;

//FONTS
$fs-primary: 'Fascinate', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
// $fs-primary: 'Inter', Verdana, Tahoma, Geneva, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease($time: 300ms) {
  transition: all $time ease-in-out;
}

@mixin flex($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}