.game-options {
  background-color: $bg-dark;
  position: fixed;
  width: 100%;
  height: 100%;
  @include flex;
  
  &__hidden {
    transform: translateX(200%);
  }

  &__inputs {
    @include flex;
  }

  &__selector {
    text-align: center;
    width: min-content;
  }
}