.game-options {
  @include absolute;
  width: 100%;
  
  &__inputs {
    @include flex;
  }

  &__option {
    @include flex;
    margin-top: 1rem;
  }

  &__selector {
    text-align: center;
    width: min-content;
  }

  &__radio-div {
    @include flex(row, center, center);
  }

  &__radio-option {
    @include flex(column, center, center);
  }
}