.header {
  position: absolute;
  @include flex(row, center, space-between);
  width: 100%;

  padding: .5rem;
  border: 1px solid blue;

  &__pfp-div {
    @include transition-ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__pfp-icon {
    font-size: 1em;
    border: 2px solid $th1-white;
    border-radius: 50%;
    padding: .5rem;
  }
}