.question-card {
  @include absolute(50%);
  @include flex;
  width: 85vw;
  min-width: fit-content;
  padding: 1rem;
  text-align: center;

  background-color: lighten($th1-red, 10);
  // border: 1px solid red;

  &--hidden {
    opacity: 0;

    &-left {
      transform: translateX(-200%);
    }
    
    &-right {
      transform: translateX(200%);
    }
  }

  &__question {
    
  }

  &__answers {
    width: 100%;
    margin-top: 1rem;
    
    // border: 1px solid aqua;
  }
  
  &__answer {
    border: 1px solid;
    border-radius: 2px;
    border-color: $th1-red;
    background-color: $th1-red;
    
    margin: 1rem 0;
    padding: 0.5rem;
    
    &--selected {
      background-color: $th2-green;
    }

    &-text {

    }
  }
}