.welcome {
  @include fixed-hunnid;
  
  &__links-div {
    width: 100%;
    @include flex(column, center, space-around);
  }

  &__link {
    color: $cream1;
    min-width: 200px;
    text-align: center;

    margin: 1rem 0;
    padding: 10px;
    border-radius: 5px;
    background-color: $purp1;
  }
}