@import 'config';
@import 'global';
@import 'alert';
@import 'header';
@import 'footer';
@import 'welcome';
@import 'signup';
@import 'game';
@import 'game-options';
@import 'game-ready';
@import 'forms';
@import 'trivia-carousel';
@import 'question-card';

body {
  background: $th1-red;
  color: $th1-white;
  height: 100vh;
  font-family: $fs-primary;
  line-height: 1;
}

a {
  text-decoration: none;
  color: $th1-red;
}

select {
  appearance: none;
  background: none;
  border: none;
  text-align: center;

  &:focus {
    outline: none;
    @include box-shadow(#000000, .35, .15);
  }
}

.app {

}