@import 'config';
@import 'global';
@import 'header';
@import 'footer';
@import 'welcome';
@import 'signup';
@import 'game';
@import 'game-options';
@import 'forms';

body {
  background: $bg-dark;
  color: $cream1;
  height: 100vh;
  font-family: $fs-primary;
  line-height: 1;
}

a {
  text-decoration: none;
}

.app {

}