.alert {
  width: 90%;
  margin: 0 0 1rem;
  padding: 1rem .5rem;

  font-family: $fs-text;
  font-size: .75em;
  text-align: center;

  color: white;

  @include box-shadow;

  &-success {
    background-color: $alert-success;
  }
  &-danger {
    background-color: $alert-danger;
  }

  &-center {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
  }
}