.alert {
  width: 90%;
  margin: 0 0 1rem;
  padding: 1rem .5rem;

  font-family: $fs-text;
  font-size: .75em;
  text-align: center;

  color: white;

  @include box-shadow;

  &-success {
    background-color: green;
  }
  &-danger {
    background-color: red;
  }
}