.boredle {
  @include flex;
  width: 100%;
  height: 100%;
  max-height: 100vh;
  font-family: $fs-boredle;
  
  &__keys {
    @include flex;
    width: 100%;
    
    &-row {
      @include flex(row, center, space-around);
      
    }
    
    &-key {
      @include flex;
      margin: 3px 3px;
      padding: 0 8px;
      min-height: 50px;

    }
  }
}