.boredle {
  @include flex;
  width: 100%;
  height: 100%;
  // max-height: 100vh;
  font-family: $fs-boredle;
  
  &__game {
    @include flex;
    height: 100%;
    max-height: 100vh;
  }

  &__alert {
    @include absolute(35%);
    padding: 1rem;
    border-radius: 4px;
    background-color: $clr-black;
    border: solid 3px;
    @include box-shadow($clr-black, 0.75, 0.5);

    &-perm {

    }

    &-temp {

      animation: alert-fade 1s ease-out 1s forwards;
    }
  }

  &__header {
    @include flex(row, center, space-between);
    width: 95%;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba($clr-white, 0.6);

    &-title {
      margin: 0 0 -.35rem;
    }

    &-icons {
      @include flex(row);
    }

    &-icon {
      font-size: 1.25em;

      margin: 0 .35rem;

      &-fake {
        visibility: hidden;
      }
    }
  }

  &__guesses {
    margin: 1rem 0 0;
  }

  &__guess {
    @include flex;
    width: 100%;
    margin: 1rem 0 0;
    
    &-row {
      @include flex(row, center, center);
      width: 100%;
    }

    &-box {
      @include flex;
      font-size: 1.65em;
      border: 3px solid rgba($clr-black, 0.25);
      background-color: rgba($clr-black, 0.35);
      width: 3.95rem;
      height: 3.95rem;
      border-radius: 1px;
      margin: .1em;
      // padding: 0;

      &-text {
        // TO-DO : FONT-SPECIFIC NEGATIVE MARGIN - GROSS!
        margin: 0 0 -.5rem;
      }
    }
  }
  
  &__keys {
    @include flex;
    width: 100%;
    margin: 1rem 0 0;
    
    &-row {
      @include flex(row, center, space-around);
      
    }
    
    &-key {
      @include flex;
      font-size: 1em;
      margin: 3px 3px;
      padding: 0 8px;
      min-height: 50px;
      font-family: $fs-boredle;
      
      &-text {
        margin-top: 4px;
      }
    }
  }

  &__btn {
    @include flex;
    // color: $clr-black;
    width: 90%;
    font-size: 1em;
    padding: 0.75rem 0;
  }

  &__modal--dimmer {
    @include absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;

    background-color: rgba(#000000, 0.5)
  }

  &__modal {
    @include absolute;
    @include flex;
    @include box-shadow;
    width: 95%;
    
    background-color: rgba($clr-white, 0.90);
    border-radius: 5px;
    border: 5px solid $clr-black;
    padding: 1.5rem 2rem;

    &-text {
    }
  }
  
  &__help {
    padding: 1rem 0;
    text-align: left;
    
    &-rules {
      border-bottom: 1px solid $clr-white;
      padding: 0 0 1rem;
    }
    
    &-text {
      font-size: .85em;
      margin: .75rem 0 0;

      &-last {
        margin: 1rem 0 0;
      }
    }

    &-examples {
      margin: 1rem 0 0;
    }

    &-eg {
      @include flex(row);
      margin: 1rem 0 0;

      &-text {
        // TO-DO - FONT SPECIFIC MARGIN - GROSS!!
        margin: 0 0 -.5rem;
      }
    }

    &-box {
      @include flex;
      font-size: 1.25em;
      border: 3px solid rgba($clr-black, 0.25);
      background-color: rgba($clr-black, 0.35);
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 1px;
      margin: .15em;
    }
  }

  &__settings {
    @include flex;
    padding: 1rem 1.5rem;

    &-title {
      font-size: 1.75em;
    }
    
    &-setting {
      @include flex;
      width: 100%;
      padding: .5rem 0;
      border-bottom: 1px solid rgba($clr-white, 0.35);
      min-height: 4rem;
      
      &-dark {
        margin: 0.5rem 0;
      }
      &-top {
        width: 100%;
        @include flex(row, flex-start, space-between);
        // padding: 0.5rem 0;
        // border: 1px solid red;
      }
      
      &-name {
        font-size: 1.3em;
        margin: 0;
        @include text-shadow;
      }
      
      &__details {
        width: 100%;
        text-align: left;

        &-info {
          font-family: $fs-text;
          font-size: .6em;
          margin: 3px 1.5rem 0 0;
          // border: 1px solid red;
        }
      }
      
    }

    &-toggler {
      padding: 0 0.5rem;
      
      &-inner {
        margin-left: auto;
        @include flex(row, center, flex-start);
        transform: scale(1.5);
        box-sizing: content-box;
        width: 25px;
        height: 13px;
        border-radius: 2rem;
        cursor: pointer;
        /* background-color: var(--light-grey); */
        border: 1.5px solid;
        border-color: $clr-white;
        background-color: rgba($clr-white, 0.4);
        
        transition: all 250ms;
        
        &-on {
          border-color: $alert-success;
          background-color: $alert-success;
        }
        
        &-on .boredle__settings-toggler-circle {
          left: 48%;
        }
      }

      &-circle {
        height: 12px;
        width: 12px;
        background-color: white;
        border-radius: 50%;
      
        position: absolute;
        left: 0;
      
        transition: all 250ms;
      }
    }

    &-feedback {
      @include flex;
      width: 100%;

      &-line {
        margin: 0 1rem;
      }
      
      &-links {
        @include flex(row, center, center);
        width: 100%;
        margin: 0.5rem 0;
      }

      &-link {
        &-email {
          margin-right: 5px;
        }
        &-twitter {
          margin-left: 5px;
        }
      }

    }

    &-btn {
      @include flex;
      width: 100%;

      font-family: $fs-boredle;
      font-size: 1.25em;
    
      padding: 0.75rem 0;

      &-new-game {
        margin: 1rem 0;
      }

      &-text {
        margin-bottom: -.35em;
      }
    }
  }

  &__box {
    color: $clr-white;
    // &-filled {
    //   color: $clr-white;
    // }
    &-correct {
      background-color: $clr-brdl-correct;
    }
    &-wrong-spot {
      background-color: $clr-brdl-wrong-spot;
    }
    &-incorrect {
      background-color: $clr-brdl-grey-dk;
    }
  }

  &:focus {
    outline: none;
    border: none;
  }
}

@keyframes alert-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}