.boredle {
  @include flex;
  width: 100%;
  height: 100%;
  // max-height: 100vh;
  font-family: $fs-boredle;
  
  &__game {
    @include flex;
    height: 100%;
    max-height: 100vh;
    
    &:focus {
      outline: none;
    }
  }

  &__alert {
    @include absolute(35%);
    padding: 1rem;
    border-radius: 4px;
    background-color: $clr-black;
    border: solid 3px;
    @include box-shadow($clr-black, 0.75, 0.5);
    z-index: 100;

    &-perm {

    }

    &-temp {
      animation: alert-fade 1s ease-out 1s forwards;
    }
  }

  &__header {
    @include flex(row, center, space-between);
    width: 95%;
    padding: 0.5rem 0;
    border-bottom: 2px solid rgba($clr-white, 0.6);

    &-title {
      margin: 0 0 -.35rem;
    }

    &-icons {
      @include flex(row);
    }

    &-icon {
      font-size: 1.25em;

      margin: 0 .5rem;

      &-fake {
        visibility: hidden;
      }
    }
  }

  &__guesses {
    margin: 1rem 0 0;
  }

  &__guess {
    @include flex;
    width: 100%;
    margin: 1rem 0 0;
    
    &-row {
      @include flex(row, center, center);
      width: 100%;
    }

    &-box {
      @include flex;
      font-size: 1.65em;
      border: 3px solid rgba($clr-black, 0.25);
      background-color: rgba($clr-black, 0.35);
      width: 3.95rem;
      height: 3.95rem;
      border-radius: 1px;
      margin: .1em;
      // padding: 0;

      &-text {
        // TO-DO : FONT-SPECIFIC NEGATIVE MARGIN - GROSS!
        margin: 0 0 -.5rem;
      }
    }
  }

  &__keys {
    @include flex;
    width: 100%;
    margin: 1rem 0 0;

    &-row {
      @include flex(row, center, space-around);

    }

    &-key {
      @include flex;
      font-size: 1em;
      min-width: 1.75rem;
      margin: 3px 3px;
      padding: 0 8px;
      min-height: 50px;
      font-family: $fs-boredle;

      &--filled {
        color: $clr-white;
        @include text-shadow(rgba($clr-black, 0.2));
      }

      &-text {
        margin-top: 4px;
        text-transform: uppercase;
      }
    }
  }

  &__btn {
    @include flex;
    // color: $clr-black;
    width: 90%;
    font-size: 1em;
    padding: 0.75rem 0;

    &-share {
      @include flex(row, center, center);
      margin: 2rem 0 .5rem;
    }
  }

  &__modal--dimmer {
    @include absolute;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    animation: fade-in 250ms;
    
    background-color: rgba(#000000, 0.5);
    z-index: 9999;
  }

  &__modal {
    @include absolute;
    @include flex;
    @include box-shadow;
    width: 95%;
    max-width: 400px;
    
    background-color: rgba($clr-white, 0.90);
    border-radius: 5px;
    border: 5px solid $clr-black;
    padding: 1.5rem 2rem;

    animation: modal-slide 250ms;

    &-text {
    }
  }
  
  &__help {
    padding: 1rem 0;
    text-align: left;
    
    &-rules {
      border-bottom: 1px solid $clr-white;
      padding: 0 0 1rem;
    }
    
    &-text {
      font-size: .85em;
      margin: .75rem 0 0;

      &-last {
        margin: 1rem 0 0;
      }
    }

    &-examples {
      margin: 1rem 0 0;
    }

    &-eg {
      @include flex(row);
      margin: 1rem 0 0;

      &-text {
        // TO-DO - FONT SPECIFIC MARGIN - GROSS!!
        margin: 0 0 -.5rem;
      }
    }

    &-box {
      @include flex;
      font-size: 1.25em;
      border: 3px solid rgba($clr-black, 0.25);
      background-color: rgba($clr-black, 0.35);
      width: 3.75rem;
      height: 3.75rem;
      border-radius: 1px;
      margin: .15em;
    }
  }

  &__stats {
    @include flex;
    &-top {
      @include flex(row, base-line, space-between);
      width: 100%;
      padding: 0 0 1rem;
    }
    
    &-stat {
      padding: 1rem 0;
      min-width: 25%;
      &-value {
        font-size: 2.25em;
      }
      &-label {
        font-size: .9em;
      }
    }
    
    &-chart {
      @include flex;
      font-size: 1em;
      width: 100%;
      color: $clr-white;

      &-title {
        @include text-shadow;
        font-size: 1.25em;
      }
    }
  }

  &__settings {
    @include flex;
    padding: 1rem 1.5rem;

    &-title {
      font-size: 1.75em;
    }
    
    &-setting {
      @include flex;
      width: 100%;
      padding: .5rem 0;
      border-bottom: 1px solid rgba($clr-white, 0.35);
      min-height: 4rem;
      
      &-dark {
        margin: 0.5rem 0;
      }
      &-top {
        width: 100%;
        @include flex(row, flex-start, space-between);
        // padding: 0.5rem 0;
        // border: 1px solid red;
      }
      
      &-name {
        font-size: 1.3em;
        margin: 0;
        @include text-shadow;
      }
      
      &__details {
        width: 100%;
        text-align: left;

        &-info {
          font-family: $fs-text;
          font-size: .6em;
          margin: 3px 1.5rem 0 0;
          // border: 1px solid red;
        }
      }
      
    }

    &-toggler {
      padding: 0 0.5rem;
      
      &-inner {
        margin-left: auto;
        @include flex(row, center, flex-start);
        transform: scale(1.5);
        box-sizing: content-box;
        width: 25px;
        height: 13px;
        border-radius: 2rem;
        cursor: pointer;
        /* background-color: var(--light-grey); */
        border: 1.5px solid;
        border-color: $clr-white;
        background-color: rgba($clr-white, 0.4);
        
        transition: all 250ms;
        
        &-on {
          border-color: $alert-success;
          background-color: $alert-success;
        }
        
        &-on .boredle__settings-toggler-circle {
          left: 48%;
        }
      }

      &-circle {
        height: 12px;
        width: 12px;
        background-color: white;
        border-radius: 50%;
      
        position: absolute;
        left: 0;
      
        transition: all 250ms;
      }
    }

    &-feedback {
      @include flex;
      width: 100%;

      &-line {
        margin: 0 1rem;
      }
      
      &-links {
        @include flex(row, center, center);
        width: 100%;
        margin: 0.5rem 0;
      }

      &-link {
        &-email {
          margin-right: 5px;
        }
        &-twitter {
          margin-left: 5px;
        }
      }

    }

    &-btn {
      @include flex;
      width: 100%;

      font-family: $fs-boredle;
      font-size: 1.25em;
    
      padding: 0.75rem 0;

      &-new-game {
        margin: 1rem 0;
      }

      &-text {
        margin-bottom: -.35em;
      }
    }
  }

  &__box {
    z-index: 1;

    color: $clr-white;
    &-correct {
      border-color: $clr-brdl-correct;
      background-color: $clr-brdl-correct;
    }
    &-wrong-spot {
      border-color: $clr-brdl-wrong-spot;
      background-color: $clr-brdl-wrong-spot;
    }
    &-incorrect {
      border-color: $clr-brdl-grey-dk;
      background-color: $clr-brdl-grey-dk;
    }
    &--win {
      animation: jump;
      animation-timing-function: ease-in;
    }
  }

  &__leaderboard {
    
    &-container {
      width: 90%;
      
    }
    &-leader {
      min-height: 3.3rem;

      &--me {
        border-color: $alert-success;
      }
    }

    &-sorters {
      width: 100%;
      @include flex(row, center, space-between);

      &-btn {
        padding: 0.5rem 1rem;

        &--selected {
          background-color: rgba($clr-black, .85);
          text-shadow: none;
        }
      }
    }
  }

  &__practice {


    &-new-game {
      @include absolute;

      &-btn {
        width: 100%;
      }
    }
  }
}

@keyframes alert-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}