// RED RED RED
.strawberry {
  background-color: $th-strawberry;
  
  .btn,
  .practice-options__selector,
  .theme-color {
    color: $th-strawberry;
  }
  
  .btn-theme {
    color: white;
    background-color: $th-strawberry;
  }
  
  .footer {
    background-color: $th-strawberry;
  }
  
  input[type="radio"]::before {
    background-color: $th-strawberry;
  }
  
  .theme-border {
    border-color: lighten($th-strawberry, 10%)
  }
  
  .bg-theme {
    background-color: $th-strawberry;
  }
}

// ORANGE ORANGE ORANGE
.orange {
  background-color: $th-orange;
  
  .btn,
  .practice-options__selector,
  .theme-color {
    color: $th-orange;
  }
  
  .btn-theme {
    color: white;
    background-color: $th-orange;
  }
  
  .footer {
    background-color: $th-orange;
  }
  
  input[type="radio"]::before {
    background-color: $th-orange;
  }
  
  .theme-border {
    border-color: lighten($th-orange, 10%)
  }

  .bg-theme {
    background-color: $th-orange;
  }
}

// GREEN GREEN GREEN
.banana {
  background-color: $th-banana;
  color: $clr-black;
  
  .btn,
  .practice-options__selector,
  .theme-color {
    color: $th-banana;
  }
  
  .btn-theme {
    color: white;
    background-color: $th-banana;
  }
  
  .footer {
    background-color: $th-banana;
  }
  
  input[type="radio"]::before {
    background-color: $th-banana;
  }
  
  .theme-border {
    border-color: lighten($th-banana, 10%)
  }
  
  .home__form-title {
    @include text-shadow(darken($th-banana, 50%));
  }

  .bg-theme {
    background-color: $th-banana;
  }
}

// BLUE BLUE BLUE
.berry {
  background-color: $th-berry;
  
  .btn,
  .practice-options__selector,
  .theme-color {
    color: $th-berry;
  }
  
  .btn-theme {
    color: white;
    background-color: $th-berry;
  }
  
  .footer {
    background-color: $th-berry;
  }
  
  input[type="radio"]::before {
    background-color: $th-berry;
  }
  
  
  .theme-border {
    border-color: lighten($th-berry, 10%)
  }

  .bg-theme {
    background-color: $th-berry;
  }
}

// PURPLE PURPLE PURPLE
.grape {
  background-color: $th-grape;
  
  .btn,
  .practice-options__selector,
  .theme-color {
    color: $th-grape;
  }
  
  .btn-theme {
    color: white;
    background-color: $th-grape;
  }
  
  .footer {
    background-color: $th-grape;
  }
  
  input[type="radio"]::before {
    background-color: $th-grape;
  }
  
  
  .theme-border {
    border-color: lighten($th-grape, 10%)
  }

  .bg-theme {
    background-color: $th-grape;
  }
}

.clr-strawberry {
  color: $th-strawberry;  
}

.clr-orange {
  color: $th-orange;
}

.clr-banana {
  color: $th-banana;
}

.clr-berry {
  color: $th-berry;
}

.clr-grape {
  color: $th-grape;
}

.clr-default {
  color: $clr-white;
}