// THEME COLORS
$th-orange: #FFB562;
$th-strawberry: #F87474;
$th-banana: #8dff98;
$th-berry: #4D96FF;
$th-grape: #b077ba;

// COLORS
$clr-white: #F9F2ED;
$clr-black: #151515;

// ALERT COLORS
$alert-success: #6BCB77;
// $alert-success: #008000;
$alert-danger: #ff0000;

//FONTS
$fs-fun: 'Fascinate', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
$fs-text: 'Inter', Verdana, Tahoma, Geneva, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease($time: 300ms) {
  transition: all $time ease-in-out;
}

@mixin flex($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow($color: #000000, $op1: 0.35, $op2: 0.15) {
  box-shadow: 0.25em 0.25em 0.75em rgba($color, $op1),
              0.125em 0.125em 0.25em rgba($color, $op2);
}

@mixin computer-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 340px) and (min-height: 551px) {
    @content;
  }
}