// THEME COLORS
$th-strawberry: #F87474;
$th-orange: #FFB562;
$th-banana: #8bd37e;
$th-berry: #4D96FF;
$th-grape: #b077ba;

// COLORS
$clr-white: #F9F2ED;
$clr-black: #151515;

// BOREDLE COLORS
$clr-brdl-grey-dk: #3a3a3c;
$clr-brdl-grey-med: #787c7e;
$clr-brdl-grey-lt: #818384;
$clr-brdl-correct: #6aaa64;
$clr-brdl-wrong-spot: #c9b458;

// ALERT COLORS
$alert-success: #6BCB77;
// $alert-success: #008000;
$alert-danger: #ff0000;

//FONTS
$fs-fun: 'Fascinate', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
$fs-trivia: 'Permanent Marker', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
$fs-boredle: 'Special Elite', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
// $fs-boredle: 'Bangers', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
// $fs-boredle: 'Luckiest Guy', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
// $fs-boredle: 'Monoton', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
// $fs-boredle: 'Righteous', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
$fs-text: 'Inter', Verdana, Tahoma, Geneva, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease($time: 300ms) {
  transition: all $time ease-in-out;
}

@mixin flex($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow($color: $clr-black, $op1: 0.35, $op2: 0.15) {
  box-shadow: 0.25em 0.25em 0.75em rgba($color, $op1),
              0.125em 0.125em 0.25em rgba($color, $op2);
}

@mixin text-shadow($color: rgba($clr-black, 0.35), $px: 2px) {
  text-shadow: $px $px $color;
}

@mixin computer-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 340px) and (min-height: 551px) {
    @content;
  }
}