//Theme1 Colors
$th1-white: #F9F2ED;
$th1-blue: #3AB0FF;
$th1-orange: #FFB562;
$th1-red: #F87474;
$grape: #b077ba;

//Theme2 Colors
$th2-red: #FF6B6B;
$th2-yellow: #8dff98;
$th2-green: #6BCB77;
$th2-blue: #4D96FF;

// ALERT COLORS
$alert-success: #00ff00;
$alert-danger: #ff0000;

// COLORS
$bg-dark: #151515;
$purp1: #301B3F;
$purp2: #3C415C;
$cream1: #B4A5A5;
$cream2: #ECDBBA;
$primary-color: #272727;
$secondary-color: #ff652f;

//FONTS
$fs-fun: 'Fascinate', 'Inter', Verdana, Tahoma, Geneva, sans-serif;
$fs-text: 'Inter', Verdana, Tahoma, Geneva, sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin transition-ease($time: 300ms) {
  transition: all $time ease-in-out;
}

@mixin flex($direction: column, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin absolute($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin box-shadow($color: #000000, $op1: 0.35, $op2: 0.15) {
  box-shadow: 0.25em 0.25em 0.75em rgba($color, $op1),
              0.125em 0.125em 0.25em rgba($color, $op2);
}

@mixin computer-hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 340px) and (min-height: 551px) {
    @content;
  }
}