.friends {
  @include flex;
  width: 100%;
  max-height: 85vh;

  &__refresh {
    @include flex;
    margin: 0;
    padding: 2px;
    font-size: 2em;
    align-self: flex-end;
    opacity: 0.7;
  }
  
  &__form {
    width: 90%;
  }

  &__title {
    text-transform: capitalize;
    margin: 0 0 1rem;
  }
  
  &__avatar {
    font-size: 1.45rem;
    @include text-shadow;
  }
  &__avatar--default {
    font-size: 1rem;
  }
  
  &__menu {
    @include flex(row, center, space-evenly);
    width: 80%;

    margin: 2rem 0 0;

    // border: 1px solid red;

    &-btn {
      @include flex;
      @include box-shadow;
      padding: .45rem;
      font-size: 2em;

      &--current {
        border: 2px solid $clr-white;
      }
    }

    &-number {
      @include flex;
      @include box-shadow;
      position: absolute;
      margin: 0 0 2.5rem 2.5rem;
      font-family: $fs-text;
      font-size: .25em;
      font-weight: bolder;
      color: $clr-white;
      background-color: $alert-danger;
      padding: 5px 7px;
      border-radius: 50%;
      text-shadow: none;
    }
  }

  &__map {
    @include flex;
    width: 100%;

    &-person {
      @include flex(row, center, space-between);
      width: 100%;
      margin: .75rem 0 0;
      
      border-color: inherit;
      border: 3px solid;
      border-radius: 3px;
      padding: .75rem;
    }

    &-username {
      margin-left: .35rem;
      @include text-shadow;
    }
    
    &-email {
      margin: 0.35rem 0 0;
    }

    &-details {
      @include flex(column, flex-start, center);
      width: fit-content;

      &-top {
        @include flex(row, center, center);
      }
    }
    
    &-subtitle {
      margin: 1rem 0 0;
    }

    
    &-btns {
      @include flex(row, center, center);
      
      &-btn {
        @include flex;

        font-size: 1.1rem;

        padding: 0.65rem;

        &-add {
          margin-right: .75rem;
        }
      }
    }

    &-nada {
      margin: 2rem 0;
    }
  }

  &__request-form {

  }
}