.friends {
  @include flex;
  width: 100%;
  max-height: 85vh;

  &__title {
    text-transform: capitalize;
    margin: 0 0 1rem;
  }
  
  &__avatar {
    font-size: 2rem;
  }
  
  &__menu {
    @include flex(row, center, space-evenly);
    width: 80%;

    margin: 2rem 0 0;

    // border: 1px solid red;

    &-btn {
      @include flex;
      @include box-shadow;
      padding: .45rem;
      font-size: 2em;
    }
  }

  &__requests {
    @include flex;

    &-username, &-email {
      margin: 0;
    }

    &-details {
      @include flex(column, flex-start, center);
      width: fit-content;

      &-top {
        @include flex(row, center, center);
      }
    }
    
    &-subtitle {
      margin: 1rem 0 0;
    }

    &-request {
      @include flex(row, center, space-between);
      width: 100%;
      margin: .75rem 0 0;
      
      border-color: inherit;
      border: 3px solid;
      border-radius: 3px;
      padding: 5px .5rem;
    }
    
    &-btns {
      @include flex(row, center, center)

      &-btn {

        &-add {
          margin-right: .5rem;
        }
      }
    }
  }
}