/* *** GLOBAL FONT SIZES *** */
.title {
  font-size: 2rem;
  text-align: center;
}
.subtitle {
  font-size: 1.5rem;
}
.text {
  font-size: 1rem;
}

.fs-text {
  font-family: $fs-text;
}

.text-mini {
  font-family: $fs-text;
  font-size: 0.75rem;
  margin-top: 1rem;
  
  &-click {
    cursor: pointer;
    text-decoration: underline;
    color: rgba($clr-white, 0.65);
    
    &:hover {
      transform: scale(1.01);
      // @include text-shadow;
      color: rgba($clr-white, 0.85);
      font-weight: bolder;
    }
    
    &:active {
      color: rgba($clr-white, 0.65);
      transform: scale(1)
    }
  }
}

/* *** GLOBAL CLASSES *** */
.page {
  @include flex;
  @include absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.btn {
  // font-family: $fs-fun;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 2px;

  background: $clr-white;

  padding: .5rem;

  @include transition-ease;
  @include box-shadow($clr-black, 0.2, 0.1);
  @include text-shadow(lighten($clr-black, 68%), 2px);

  &:hover, &:focus {
    @include box-shadow;
    transform: scale(1.025)
  }
  
  &:active {
    transform: scale(0.95)
  }
}

.btn-theme {
  @include text-shadow;
  
  &:hover, &:focus {
    @include text-shadow(#000000, 2.5px);
  }
}

.links-div {
  width: 80%;
  @include flex(column, center, space-around);
  margin: 1rem 0 0;
}

.link {
  width: 80%;
  min-width: 250px;
  max-width: 500px;
  text-decoration: none;
  text-align: center;
  padding: .75rem 0;
  font-size: 1.1em;

  &:hover, &:focus, &:active {
    transform: scale(1.025);
    @include box-shadow( #000000, 0.5, 0.35);
    @include text-shadow;
  }
}

.toggles {
  max-width: 80%;
  @include flex(row, center, space-around);
  margin: 0.5rem 0;

  &__page {

    font-size: 1.5em;
    margin: 0 .5rem;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
    }

    &-number {

      &--current {
        text-decoration: underline;
        @include text-shadow;
      }
    }

    &-caret {

    }
  }
}

.center {
  @include absolute;
}

.fs-trivia {
  font-family: $fs-trivia;
}

.fs-boredle {
  font-family: $fs-boredle;
}