/* *** GLOBAL FONT SIZES *** */
.title {
  font-size: 2rem;
  text-align: center;
}
.subtitle {
  font-size: 1.5rem;
}
.text {
  font-size: 1rem;
}

.fs-text {
  font-family: $fs-text;
}

/* *** GLOBAL CLASSES *** */
.page {
  @include flex;
  @include absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.btn {
  font-family: $fs-fun;
  border: none;
  border-radius: 2px;
  color: $th1-red;
  background: $th1-white;

  padding: .5rem;

  text-align: center;

  @include transition-ease;

  &:hover, &:focus {
    @include box-shadow;
  }

  &:active {
    transform: scale(0.95)
  }
}

.form {
  @include flex;
  padding: 2rem;
  border-radius: 5px;
  background-color: rgba(black, .3);
  @include box-shadow;

  &-row {
    @include flex(column, center, center);
    width: 80%;
    min-width: 250px;
    max-width: 500px;

    margin: 0 0 .5rem;

    &__label {
      margin-bottom: .5rem;
    }

    &__input {
      text-align: center;
      width: 100%;
      font-family: $fs-fun;
      color: $th1-red;
      letter-spacing: 1px;
      padding: 5px 0;
      // padding-left: 5px;

      border: none;

      &::placeholder {
          opacity: .1;
        }
    }
  }
}

.center {
  @include absolute;
}