/* *** GLOBAL FONT SIZES *** */
.title {
  font-size: 2rem;
  text-align: center;
}
.subtitle {
  font-size: 1.5rem;
}
.text {
  font-size: 1rem;
}

.fs-text {
  font-family: $fs-text;
}

/* *** GLOBAL CLASSES *** */
.page {
  @include flex;
  @include absolute;
  height: 100%;
  min-height: 100vh;
  width: 100%;
}

.btn {
  cursor: pointer;
  font-family: $fs-fun;
  border: none;
  border-radius: 2px;
  color: $th-strawberry;
  background: $clr-white;

  padding: .5rem;

  text-align: center;

  @include transition-ease;
  @include box-shadow($clr-black, 0.2, 0.1);

  &:hover, &:focus {
    @include box-shadow;
    transform: scale(1.025)
  }

  &:active {
    transform: scale(0.95)
  }
}

.btn-theme {
  @include text-shadow;
}

.links-div {
  width: 80%;
  @include flex(column, center, space-around);
  margin: 1rem 0 0;
}

.link {
  margin: 1rem 0 0;
  width: 80%;
  min-width: 250px;
  max-width: 500px;
  text-decoration: none;
  text-align: center;
  padding: .75rem 0;
  font-size: 1.1em;
  @include text-shadow(darken($clr-white, 15%), 2.5px);
}

.center {
  @include absolute;
}
