.header {
  position: fixed;
  top: 0;
  @include flex(row, center, center);
  width: 100%;
  height: 10vh;
  
  padding: .5rem;
  z-index: 9999;
  
  &__pfp-div {
    @include flex(row, center, center);
    @include transition-ease;
    position: absolute;
    top: 1rem;
    left: 1rem;
    justify-self: flex-start;
    height: 5vh;

    &:hover {
      transform: scale(1.1);
    }
  }
  &__pfp-link {
    width: 100%;
  }

  &__pfp-name {
    margin-left: 0.5rem;
  }

  &__pfp-icon {
    font-size: 1em;
    border: 2px solid $clr-white;
    color: $clr-white;
    border-radius: 50%;
    padding: .5rem;
  }
}