.home {
  @include absolute;
  @include flex;
  width: 90%;
  max-width: 500px;

  text-align: center;

  &__form-title {
    font-size: larger;
    margin: 0 0 1rem;
    text-shadow: 2px 2px rgba(#000000, 20%);
  }
  
  &__login-form {
    width: 90%;
    margin: 1rem 0 0;
    padding: 1.5rem 0 2rem;
    
    // GLOBAL???
    // @include flex;
    // border-radius: 5px;
    // background-color: rgba(black, .3);
    // @include box-shadow;
  }
  
  &__btn {
    margin-top: 1rem;
    padding: .75rem 0;
    width: 80%;
    min-width: 250px;
    max-width: 500px;
    
    &-btn {
      font-size: 1.1em;
    }
  }

  &__links-div {
    width: 90%;
    @include flex(column, center, space-around);
    margin-top: 1rem;
  }

  &__link {
    text-decoration: none;
    text-align: center;
  }
}