.home {
  width: 100%;
  max-width: 500px;

  &__title {
    @include text-shadow;
  }

  &__form {
    margin: 1rem 0 0;
  }

  &__links-div {
    @include flex;
    margin-top: 1rem;
  }

  &__demo-btn {
    margin-top: 1rem;
    padding: .75rem 0;
    background-color: rgba(white, 0.25);
    border-radius: 2px;

    @include box-shadow();
    @include transition-ease();

    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }
  }
}