.practice-options {
  @include absolute;
  @include flex;
  width: 90%;
  max-width: 450px;
  padding: 2rem;

  // border: 3px solid $th1-white;
  border-radius: 5px;

  background-color: #ffffff15;

  @include box-shadow(#000000, .5, .35);

  &__option {
    @include flex;
    width: 100%;

    margin-top: 1rem;
    text-align: center;
  }
  
  &__label {
    
  }
  
  &__selector {
    width: 100%;
    
    font-family: $fs-fun;
    font-size: 1em;
    
    margin: .5rem 0 0;
    padding: .2rem;
    
    color: $th1-red;
    background-color: $th1-white;
    text-align-last: center;
  }

  &__radio-div {
    @include flex(row, center, center);
    margin-top: .5rem;
  }
  
  &__radio-option {
    @include flex(column, center, center);
    margin: 0 .5rem;
  }
  
  &__btn {
    margin-top: 1rem;
    color: $th1-red;

    &:hover {
      @include box-shadow;
    }
  }
}