.trivia-results {
  // @include flex;
  width: 85%;
  margin: 0 auto;
  max-width: 400px;
  min-height: 100vh;
  padding: 4rem 0 0;

  // border: red solid 2px;

  // overflow: scroll;
  
  &__question-div {
    width: 100%;
    @include flex;

    padding: 1rem 0;

    border-bottom: 2px solid;
  }

  &__number {
    margin: 0 0 .5rem;
  }

  &__question {
    margin-bottom: .5rem;
  }
  &__answer-div {
    @include flex(row, center, space-around);
    
  }
  &__answer {
    text-align: center;
    width: 100%;
    margin: 0 .5rem;
    padding: .5rem 1.5rem;

    border-radius: 2px;

    &--correct {
      background-color: $alert-success;
    }
    
    &--incorrect {
      background-color: $alert-danger;

    }
  }

  &__btn {
    margin: 1.5rem 0 2.5rem;
  }
}