.question-card {
  // @include absolute;
  @include flex;
  @include box-shadow;
  width: 80%;
  max-width: 500px;
  padding: 1rem 2rem;
  text-align: center;

  // background-color: lighten($th-strawberry, 10);
  z-index: 1000;
  border-radius: 5px;

  animation: fade-in 150ms ease-in forwards;

  &--hidden {
    display: none;
    opacity: 0;
    z-index: 10;

    &-left {
      transform: translateX(-200%);
    }
    
    &-right {
      transform: translateX(200%);
    }
  }

  &__question {
   margin-top: 1rem; 
  }

  &__answers {
    width: 100%;
    margin-top: 1rem;
    
    // border: 1px solid aqua;
  }
  
  &__answer {
    // border: 3px solid;
    // border-color: $th-strawberry;
    border-radius: 2px;
    // color: black;
    background-color: rgba(black, 0.6);
    font-weight: bolder;
    
    margin: 1rem 0;
    padding: .75rem 0;

    cursor: pointer;
    @include transition-ease;
    
    &--selected {
      border: 4px solid white;
      @include box-shadow;
    }
    
    &-text {
      
    }
  }
}

@include computer-hover {
  .question-card {
    &__answer {
      &:hover {
        @include box-shadow;
      }
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: rotateY(.5turn);
  }
  100% {
    opacity: 1;
    transform: rotateY(1turn);
  }
}