.welcome {
  @include absolute;
  @include flex;
  
  &__links-div {
    width: 100%;
    @include flex(column, center, space-around);
    margin-top: 1rem;
  }

  &__link {
    text-decoration: none;
    min-width: 200px;
    text-align: center;
  }
}