@import 'config';
@import 'global';
@import 'alert';
@import 'header';
@import 'timer';
@import 'footer';
@import 'homepage';
@import 'game';
@import 'practice-options';
@import 'game-ready';
@import 'forms';
@import 'trivia-carousel';
@import 'question-card';
@import 'game-results';
@import 'form-row';

body {
  height: 100vh;
  font-family: $fs-fun;
  line-height: 1;
}

.app {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  color: $th1-white;
}

.strawberry {
  background-color: $th1-red;
}
.orange {
  background-color: $th1-orange;
}
.banana {
  background-color: $th2-yellow;
  color: $bg-dark;
}
.grape {
  background-color: $grape;
}

a {
  text-decoration: none;
  color: $th1-red;
}

select {
  appearance: none;
  background: none;
  border: none;

  &:focus {
    outline: none;
    @include box-shadow(#000000, .35, .15);
  }
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: $th1-white;
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  margin: .5rem 0;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  @include box-shadow;
  /* Windows High Contrast Mode */
  background-color: $th1-red;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: 2px solid rgba($th1-white, .6);
  outline-offset: 2px;
}